<footer id="colophon" class="py-5 site-footer">
    <div class="container">
        <section class="mb-4"><nav class="footer-nav"><ul id="menu-footer-navigation" class="menu text-center"><li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1039"><a href="#hotel-factsheet" title="Hotel Factsheet" target="_parent">Hotel Factsheet</a></li><li id="menu-item-1040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040"><a href="#terms-conditions" title="Terms &amp; Conditions" target="_parent">Terms &amp; Conditions</a></li><li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a href="#location-and-map" title="Location &amp; Map" target="_parent">Location &amp; Map</a></li><li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="#cancellation-policy" title="Cancellation policy" target="_parent">Cancellation policy</a></li><li id="menu-item-1043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1043"><a href="#payment-method" title="Payment Method" target="_parent">Payment Method</a></li></ul></nav></section>
        <div class="mb-4 text-center">
            <a href="#" rel="home" class="logo-footer"><img class="lazyloaded"  alt="" src="~/Content/images/logo.png"></a>
        </div>
        <div class="small text-center box-address">
            <p class="mb-3 "><strong>Address: </strong><a href="#" target="_blank">No 3 Hàng Dầu, Hàng Bạc, Hoàn Kiếm, Hà Nội</a></p><p class="mb-3 font-14"><span class="ml-2 mr-2"><strong>Phone: </strong><a href="tel:+84 24 3266 8586" target="_blank">+84 24 3266 8586</a></span><span class="ml-2 mr-2"><strong>Hotline: </strong><a href="tel:+84 0356 18 9999" target="_blank">+84 0356 18 9999</a></span><span class="ml-2 mr-2"><strong>Email: </strong><a href="mailto:info@hanoihmhotel.com" target="_blank">info@hanoihmhotel.com</a></span></p>
        </div>
        @*<div class="col-12 py-4 col-lg-10 offset-lg-1" style="border-top:1px solid #473b33;">
            <div class="row">
                <div class="col-12 col-lg-4 text-center">
                    <p class="">Find us on</p><ul class="list-unstyled mb-0 footer-social"><li><a class="facebook-f" href="https://www.facebook.com/HanoiHMBoutiqueHotel/" target="_blank"><i class="fab fa-facebook-f"></i></a></li><li><a class="tripadvisor" href="http://www.tripadvisor.com/Hotel_Review-g293924-d8300139-Reviews-HM_Boutique_Hotel-Hanoi.html" target="_blank"><i class="fab fa-tripadvisor"></i></a></li><li><a class="youtube" href="##" target="_blank"><i class="fab fa-youtube"></i></a></li></ul>
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <div class="title mb-3">TripAdvisor Traveler Rating</div>
                    <div class="mb-4"><a href="http://www.tripadvisor.com/Hotel_Review-g293924-d8300139-Reviews-HM_Boutique_Hotel-Hanoi.html"><img src="./index_files/logo_trip.png" alt=""></a></div>
                </div>
                <div class="col-12 col-lg-4 text-center accepted-cards">
                    <p>Accepted cards</p>
                    <img class="lazyloaded" data-src="/images/pay.png" alt="" src="./index_files/pay.png">
                </div>
            </div>
        </div>*@
        <p class="small text-center mb-0">Copyright © 2022 - 2025. Hanoi HM Boutique Hotel. All rights reserved.</p>
        <input id="bookLanguage" type="hidden" value="/reservations">
    </div>
</footer>    