<aside class="main-sidebar sidebar-dark-primary elevation-4">
    @{ var userInfomatiom = (QuanLyKhachSan.Models.User)Session["ADMIN"]; }

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <a href="#" class="d-block">
                    Xin chào  @userInfomatiom.fullName
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/AdminHome/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                @if (userInfomatiom.idRole == 1)
                {
                    <li class="nav-item">
                        <a href="/AdminType/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p> Quản lý loại phòng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminRoom/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p> Quản lý phòng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminUser/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p> Quản lý nhân viên</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminUser/Customer" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>  Quản lý khách hàng</p>
                        </a>
                    </li>


                }
                <li class="nav-item">
                    <a  href="/AdminService/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>  Quản lý dịch vụ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/AdminBooking/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Quản lý booking</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/AdminAuthentication/Logout" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Đăng xuất</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

